.cytpro-outer-container {
	display: inline-block;
	vertical-align: top;
}

.cytpro-outer-container.full {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;

	background-color: rgba(0,0,0,0.8);

	width: 100% !important;
	z-index: 999999;
}

.cytpro-outer-container .cytpro-container {
	display: block;

	width: 100%;
	height: 100%;

	position: relative;
}

.cytpro-outer-container .cytpro-ratio-square {
	padding-top: 100%;
}

.cytpro-outer-container .cytpro-ratio-43 {
	padding-top: 75%;
}

.cytpro-outer-container .cytpro-ratio-169 {
	padding-top: 56.25%;
}

.cytpro-outer-container.full .cytpro-ratio-square, 
.cytpro-outer-container.full .cytpro-ratio-43, 
.cytpro-outer-container.full .cytpro-ratio-169 {
	padding-top: 0;
	height: 100%;
} 

.cytpro-outer-container .cytpro-inner-container {
	display: block;
	position: absolute;

	top: 50%;
	left: 50%;
	
	width: 100%;
	height: 100%;

	-webkit-transform: translateX(-50%) translateY(-50%);
	transform: translateX(-50%) translateY(-50%);
}

.cytpro-outer-container.full .cytpro-inner-container {
	width: 100% !important;
	height: 100% !important;
	
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	
	-webkit-transform: none;
	transform: none;
}

.cytpro-outer-container .cytpro-inner-container iframe,
.cytpro-outer-container .cytpro-inner-container video.video-js {
	width: 100%;
	height: 100%;
	margin: 0;
}

.cytpro-outer-container.full .cytpro-thumb-container {
	position: fixed;
	width: 100% !important;
	height: 100% !important;
	left: 0 !important;
	right: 0 !important;
	bottom: 0 !important;
	top: 0 !important;
	z-index: 9999999;
}

.cytpro-outer-container .cytpro-thumb-container.thumb {
	position: fixed;

	width: 400px;
	z-index: 9999999;

	-webkit-transition: bottom 0.3s ease-in-out;
	transition: bottom 0.3s ease-in-out;
}

.cytpro-outer-container .cytpro-thumb-container.thumb.bottom-right {
	right: 15px;
	bottom: 0;
}
.cytpro-outer-container .cytpro-thumb-container.thumb.top-right {
	right: 15px;
	top: 0
}
.cytpro-outer-container .cytpro-thumb-container.thumb.top-left {
	left: 15px;
	top: 0
}
.cytpro-outer-container .cytpro-thumb-container.thumb.bottom-left {
	left: 15px;
	bottom: 0;
}

.cytpro-outer-container .cytpro-dummy-placeholder {
	display: none;
}

.cytpro-outer-container .cytpro-thumb-container.thumb + .cytpro-dummy-placeholder {
	display: block;
}

/*
 * mediaelement custom styles
 */
.cytpro-ml-video video {
	margin-bottom: 0;
	width: 100% !important;
    height: 100% !important;
}

.cytpro-outer-container .cytpro-ml-video {
	height: 100%;
}

.cytpro-outer-container .cytpro-ml-video .mejs-container {
	height: 100% !important;
	width: 100% !important;
}

.cytpro-outer-container.full .cytpro-ml-video .mejs-container {
	width: 100% !important;
}

.cytpro-outer-container.resize .cytpro-pos-left .cytpro-inner-container .cytpro-frame,
.cytpro-outer-container.resize .cytpro-pos-right .cytpro-inner-container .cytpro-frame {
	float: left;
	padding-left: 5px; padding-right: 5px;
}

.cytpro-outer-container.resize .cytpro-pos-left .cytpro-content,
.cytpro-outer-container.resize .cytpro-pos-right .cytpro-content {
	float: left;
	height: 100%;
	overflow-y: hidden;
	overflow-x: hidden;
	padding: 5px;
}

.cytpro-outer-container.resize .cytpro-pos-top .cytpro-frame,
.cytpro-outer-container.resize .cytpro-pos-bottom .cytpro-frame {
	float: none;
	display: block;
	
	width: 100%;
}

.cytpro-outer-container.resize .cytpro-pos-top .cytpro-content,
.cytpro-outer-container.resize .cytpro-pos-bottom .cytpro-content {
	float: none;
	display: block;
	width: 100% !important;

	overflow-y: hidden;
	overflow-x: hidden;
	padding: 5px;
}

.cytpro-outer-container.resize.cytpro-ratio-square .cytpro-pos-left .cytpro-inner-container .cytpro-frame,
.cytpro-outer-container.resize.cytpro-ratio-square .cytpro-pos-right .cytpro-inner-container .cytpro-frame {
	margin-top: 50%;

	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
	
	padding-top: 5px; padding-bottom: 5px;
}

.cytpro-outer-container.resize.cytpro-ratio-43 .cytpro-pos-left .cytpro-inner-container .cytpro-frame,
.cytpro-outer-container.resize.cytpro-ratio-43 .cytpro-pos-right .cytpro-inner-container .cytpro-frame {
	margin-top: 37.5%;

	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
	
	padding-top: 5px; padding-bottom: 5px;
}

.cytpro-outer-container.resize.cytpro-ratio-169 .cytpro-pos-left .cytpro-inner-container .cytpro-frame,
.cytpro-outer-container.resize.cytpro-ratio-169 .cytpro-pos-right .cytpro-inner-container .cytpro-frame {
	margin-top: 28.125%;

	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
	
	padding-top: 5px; padding-bottom: 5px;
}

.cytpro-outer-container.resize .cytpro-pos-top .cytpro-inner-container .cytpro-frame,
.cytpro-outer-container.resize .cytpro-pos-bottom .cytpro-inner-container .cytpro-frame {
	margin-left: 50%;

	-webkit-transform: translateX(-50%);
	transform: translateX(-50%);
	
	padding-top: 5px; padding-bottom: 5px;
}

.cytpro-outer-container.resize .cytpro-pos-left .cytpro-content {
	padding-right: 0;
}
.cytpro-outer-container.resize .cytpro-pos-right .cytpro-content {
	padding-left: 0;
}
.cytpro-outer-container.resize .cytpro-pos-top .cytpro-content {
	padding-bottom: 0;
}
.cytpro-outer-container.resize .cytpro-pos-bottom .cytpro-content {
	padding-top: 0;
}

.cytpro-outer-container .cytpro-content {
	display: none;
}

.cytpro-locked-content {
	display: none;
}

.cytpro-content .cytpro-vcenter {
    top: 50%;
    transform: translateY(-50%);
    position: relative;
}

/* frame */
.cytpro-frame {
	background-size: 100% 100%;
	height: 100%;
}

.cytpro-frame-inner {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}

.cytpro-frame-1,
.cytpro-frame-2,
.cytpro-frame-3,
.cytpro-frame-4,
.cytpro-frame-5 { /* 800 X 474 : 38, 48, 38, 50 */
	top: 	8.0169%;
	bottom: 8.0169%;
	left: 	6.25%;
	right: 	6%;
}

.cytpro-frame-6,
.cytpro-frame-7,
.cytpro-frame-8 { /* 900 X 528: 35, 98, 95, 100 */
	top: 	 6.6288%;
	bottom: 17.9924%;
	left: 	11.1111%;
	right: 	10.8889%;
}

.cytpro-frame-9,
.cytpro-frame-10,
.cytpro-frame-11,
.cytpro-frame-12,
.cytpro-frame-13,
.cytpro-frame-14,
.cytpro-frame-15,
.cytpro-frame-16,
.cytpro-frame-17,
.cytpro-frame-18 { /* 797 X 520: 35, 46, 87, 49 */
	top: 	 6.7308%;
	bottom: 16.7308%;
	left: 	 6.1481%;
	right: 	 5.7716%;
}

.cytpro-frame-19,
.cytpro-frame-20 { /* 777 X 491: 35, 36, 58, 39 */
	top: 	 7.1283%;
	bottom: 11.8126%;
	left: 	 5.0193%;
	right: 	 4.6332%;
}

.cytpro-frame-21 { /* 874 X 537: 63, 88, 76, 84 */
	top: 	11.7318%;
	bottom: 14.1527%;
	left: 	 9.6110%;
	right: 	10.0686%;
}

.cytpro-frame-22 { /* 1121 X 522: 62, 211, 62, 208 */
	top: 	11.8774%;
	bottom: 11.8774%;
	left: 	18.5549%;
	right: 	18.8225%;
}

.cytpro-frame-23,
.cytpro-frame-24,
.cytpro-frame-25 { /* 826 X 504: 51, 65, 55, 59 */
	top: 	10.1190%;
	bottom: 10.9127%;
	left: 	 7.1429%;
	right: 	 7.8629%;
}

.cytpro-frame-26 { /* 826 X 504: 34, 63, 72, 61 */
	top: 	 6.7460%;
	bottom: 14.2857%;
	left: 	 7.3850%;
	right: 	 7.6271%;
}
.cytpro-frame-27 { /* 826 X 504: 51, 91, 55, 33 */
	top: 	10.1190%;
	bottom: 10.9127%;
	left: 	 3.9952%;
	right: 	11.0169%;
}
.cytpro-frame-28 { /* 1101 X 599: 67, 199, 134, 200 */
	top: 	11.1853%;
	bottom: 22.3706%;
	left: 	18.1653%;
	right: 	18.0745%;
}

.cytpro-outer-container.full .cytpro-frame-inner {
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
}

.cytpro-outer-container[data-showcontrol='n'] .mejs-controls {
	display: none !important;
}

.cytpro-outer-container[data-enablefs='n'] .mejs-fullscreen-button,
.cytpro-outer-container[data-enablefs='n'] video::-webkit-media-controls-fullscreen-button {
	display: none;
}

.rwmb-input-list.collapse {
	display: block !important;
    visibility: visible !important;
}

.rwmb-meta-box label {
	font-weight: normal !important;
}

.cytpro-outer-container * {
	box-sizing: border-box;
}

#ib2_el_section1.ib2-section-el,
#ib2_el_imBxUpfF.ib2-section-el {
	z-index: 1 !important;
}

.cytpro-outer-container .mejs-layers .mejs-layer {
	width: 100% !important;
	height: 100% !important;
}

@media ( max-width: 450px ) {
	.cytpro-outer-container .cytpro-thumb-container.thumb.bottom-right {
		right: 0px;
		left: 0;
		width: 100%;
	}
	.cytpro-outer-container .cytpro-thumb-container.thumb.top-right {
		right: 0px;
		left: 0;
		width: 100%;
	}
	.cytpro-outer-container .cytpro-thumb-container.thumb.top-left {
		right: 0px;
		left: 0;
		width: 100%;
	}
	.cytpro-outer-container .cytpro-thumb-container.thumb.bottom-left {
		right: 0px;
		left: 0;
		width: 100%;
	}
}